services:
  jupyter:
    build: .
    ports:
      - "8888:8888"
    volumes:
      # Mount current directory for live editing
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    command: start-notebook.sh --NotebookApp.token='' --NotebookApp.password=''
